# Image tags
IMAGE_TAG=replace-with-commit-sha

# API Gateway
API_GATEWAY_PORT=3000

# External managed services in staging
MONGO_URI=<from-secret-manager>
RABBITMQ_URL=<from-secret-manager>
REDIS_URL=<from-secret-manager>
