apiVersion: v1
kind: Secret
metadata:
  name: open-erp-secrets
  namespace: open-erp
type: Opaque
data:
  # Các chuỗi mã hóa base64
  # echo -n "postgresql://postgres:mysecurepassword@open-erp-postgres-svc:5432/open_erp_dev" | base64
  database-url: cG9zdGdyZXNxbDovL3Bvc3RncmVzOm15c2VjdXJlcGFzc3dvcmRAb3Blbi1lcnAtcG9zdGdyZXUtc3ZjOjU0MzIvb3Blbl9lcnBfZGV2
  # echo -n "mysecurepassword" | base64
  postgres-password: bXlzZWN1cmVwYXNzd29yZA==
  # echo -n "myjwtsecretkey" | base64
  jwt-secret: bXlqd3RzZWNyZXRrZXk=
