<div class="relative inline-flex items-center">
  <ng-content></ng-content>
  
  @if (!isHidden()) {
    @if (loading()) {
      <erp-skeleton width="2rem" height="1rem" [shape]="pill() ? 'pill' : 'rounded'" [class]="cornerClass()"></erp-skeleton>
    } @else {
      <span [class]="badgeClasses()">
        @if (variant() === 'dot') {
          <span class="w-1.5 h-1.5 rounded-full" [class]="dotColorClass()"></span>
        }
        @if (displayCount() !== undefined) {
          <span>{{ displayCount() }}</span>
        }
      </span>
    }
  }
</div>
