@if (loading()) {
  <erp-skeleton [width]="skeletonWidth()" [height]="skeletonHeight()" shape="rounded"></erp-skeleton>
} @else {
  @switch (variant()) {
    @case ('h1') {
      <h1 [class]="typographyClasses()"><ng-content></ng-content></h1>
    }
    @case ('h2') {
      <h2 [class]="typographyClasses()"><ng-content></ng-content></h2>
    }
    @case ('h3') {
      <h3 [class]="typographyClasses()"><ng-content></ng-content></h3>
    }
    @case ('h4') {
      <h4 [class]="typographyClasses()"><ng-content></ng-content></h4>
    }
    @case ('h5') {
      <h5 [class]="typographyClasses()"><ng-content></ng-content></h5>
    }
    @case ('h6') {
      <h6 [class]="typographyClasses()"><ng-content></ng-content></h6>
    }
    @case ('code') {
      <code [class]="typographyClasses()"><ng-content></ng-content></code>
    }
    @default {
      <p [class]="typographyClasses()"><ng-content></ng-content></p>
    }
  }
}
